In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('50_Startups.csv')

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [6]:
features =['R&D Spend', 'Administration', 'Marketing Spend',]
X = df[features]
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [7]:
y = df.Profit
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
profit_model=LinearRegression()
profit_model.fit(train_X, train_y)
print(profit_model.score(test_X, test_y))

0.939395591782057

In [10]:
profit_predictions=profit_model.predict(test_X)
profit_predictions

array([103901.8969696 , 132763.05993126, 133567.90370044,  72911.78976736,
       179627.92567224, 115166.64864795,  67113.5769057 ,  98154.80686776,
       114756.11555221, 169064.01408795])

In [11]:
test_y

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [12]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

score=r2_score(test_y, profit_predictions)
score

0.939395591782057

In [13]:
mse=mean_squared_error(test_y, profit_predictions)
rmse=np.sqrt(mse)
rmse

8803.775790469348

In [14]:
mae=mean_absolute_error(profit_predictions, test_y)
mae

7320.4416148481305

In [15]:
mse

77506468.1688542