In [24]:
import pandas as pd
from sklearn import preprocessing
lb = preprocessing.LabelEncoder()

In [25]:
df = pd.read_csv('penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [26]:
df.dropna(inplace=True)
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [27]:
df['species'] = lb.fit_transform(df['species'])
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,0,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,0,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,0,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,0,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [28]:
df['island'] = lb.fit_transform(df['island'])
df['body_mass_g'] = lb.fit_transform(df['body_mass_g'])
df['sex'] = lb.fit_transform(df['sex'])
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,30,2
1,0,2,39.5,17.4,186.0,32,1
2,0,2,40.3,18.0,195.0,11,1
4,0,2,36.7,19.3,193.0,18,1
5,0,2,39.3,20.6,190.0,26,2

In [29]:
y = df['species']
X = df.drop('species', axis=1)
X.head()

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,2,39.1,18.7,181.0,30,2
1,2,39.5,17.4,186.0,32,1
2,2,40.3,18.0,195.0,11,1
4,2,36.7,19.3,193.0,18,1
5,2,39.3,20.6,190.0,26,2

In [30]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size = 0.2)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=5)
kn.fit(X_train , y_train)

KNeighborsClassifier()

In [35]:
y_pred = kn.predict(X_test)
print(y_pred)

[0 0 2 1 0 0 0 1 0 0 0 0 0 0 0 0 1 2 2 2 0 1 0 0 2 1 1 0 2 2 0 2 0 0 2 2 0
 1 2 1 1 2 2 0 2 0 0 2 1 0 0 0 0 0 2 1 2 0 0 1 1 0 2 1 2 1 2]

In [36]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test , y_pred))

[[32  1  0]
 [ 0 14  2]
 [ 0  0 18]]
              precision    recall  f1-score   support

           0       1.00      0.97      0.98        33
           1       0.93      0.88      0.90        16
           2       0.90      1.00      0.95        18

    accuracy                           0.96        67
   macro avg       0.94      0.95      0.95        67
weighted avg       0.96      0.96      0.96        67

In [37]:
print("Accuracy is : ",100*accuracy_score(y_test, y_pred), "%")

Accuracy is :  95.52238805970148 %