In [16]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
df.columns

Index(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)', 'Petrol_Consumption'],
      dtype='object')

In [4]:
features=['Petrol_tax', 'Average_income', 'Paved_Highways', 'Population_Driver_licence(%)']
X = df[features]
X.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [5]:
y = df.Petrol_Consumption
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=0)

In [13]:
from sklearn.tree import DecisionTreeRegressor

model=DecisionTreeRegressor()
model.fit(train_X, train_y)
y_pred = model.predict(test_X)
#model.score(test_X, test_y)

In [12]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score=r2_score(test_y, y_pred)
score

-0.8490498625565845

In [10]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_pred, test_y)
mae

86.26666666666667

In [17]:
mse=mean_squared_error(test_y, y_pred)
rmse=np.sqrt(mse)
rmse

81.58635506831601