In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("00-fruits.csv")
df

    Weight  Colour   Label
0      303       3  Banana
1      370       1   Apple
2      298       3  Banana
3      277       3  Banana
4      377       4   Apple
5      299       3  Banana
6      382       1   Apple
7      374       4   Apple
8      303       4  Banana
9      309       3  Banana
10     359       1   Apple
11     366       1   Apple
12     311       3  Banana
13     302       3  Banana
14     373       4   Apple
15     305       3  Banana
16     371       3   Apple

In [18]:
# import matplotlib.pyplot as plt

# plt.xlabel('Weight')
# plt.ylabel('Label')
# plt.scatter(df['Weight'],color="green",marker='+', linewidth='5')
# plt.scatter(df['Label'],color="blue",marker='.' , linewidth='5')

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2)

In [13]:
x_train = train_set.iloc[:,0:2].values 
y_train = train_set.iloc[:,2].values 
x_test = test_set.iloc[:,0:2].values 
y_test = test_set.iloc[:,2].values

In [16]:
from sklearn.svm import SVC
model = SVC(kernel='rbf', random_state = 1) 
model.fit(x_train, y_train)

SVC(random_state=1)

In [15]:
model.score(x_test, y_test)

1.0

In [17]:
model.predict([[55, 4]])

array(['Banana'], dtype=object)

In [21]:
y_pred=(model.predict(x_test))

In [22]:
from sklearn import metrics
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Accuracy:  1.0