In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_excel("Acoustic_Extinguisher_Fire_Dataset.xlsx")
df.head()

   SIZE      FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0     1  gasoline        10       96      0.0         75       0
1     1  gasoline        10       96      0.0         72       1
2     1  gasoline        10       96      2.6         70       1
3     1  gasoline        10       96      3.2         68       1
4     1  gasoline        10      109      4.5         67       1

In [47]:
df.describe()

,SIZE,DISTANCE,DESIBEL,AIRFLOW,FREQUENCY,STATUS
count,17442.000000,17442.000000,17442.000000,17442.000000,17442.000000,17442.000000
mean,3.411765,100.000000,96.379142,6.975634,31.611111,0.497821
std,1.750977,54.773826,8.164096,4.736169,20.939149,0.500010
min,1.000000,10.000000,72.000000,0.000000,1.000000,0.000000
25%,2.000000,50.000000,90.000000,3.200000,14.000000,0.000000
50%,3.000000,100.000000,95.000000,5.800000,27.500000,0.000000
75%,5.000000,150.000000,104.000000,11.200000,47.000000,1.000000
max,7.000000,190.000000,113.000000,17.000000,75.000000,1.000000

In [48]:
df.columns

Index(['SIZE', 'FUEL', 'DISTANCE', 'DESIBEL', 'AIRFLOW', 'FREQUENCY',
       'STATUS'],
      dtype='object')

In [49]:
df['FUEL'].unique()

array(['gasoline', 'thinner', 'kerosene', 'lpg'], dtype=object)

In [50]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df['FUEL']= label_encoder.fit_transform(df['FUEL'])
  
df['FUEL'].unique()

array([0, 3, 1, 2])

In [51]:
df.head()

   SIZE  FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY  STATUS
0     1     0        10       96      0.0         75       0
1     1     0        10       96      0.0         72       1
2     1     0        10       96      2.6         70       1
3     1     0        10       96      3.2         68       1
4     1     0        10      109      4.5         67       1

In [52]:
features=['SIZE', 'FUEL', 'DISTANCE', 'DESIBEL', 'AIRFLOW', 'FREQUENCY']
X = df[features]
X.head()

   SIZE  FUEL  DISTANCE  DESIBEL  AIRFLOW  FREQUENCY
0     1     0        10       96      0.0         75
1     1     0        10       96      0.0         72
2     1     0        10       96      2.6         70
3     1     0        10       96      3.2         68
4     1     0        10      109      4.5         67

In [53]:
y = df.STATUS
y.head()

0    0
1    1
2    1
3    1
4    1
Name: STATUS, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=0)

In [63]:
from sklearn import svm
clf = svm.SVC(kernel='rbf')
clf.fit(train_X, train_y)
y_pred = clf.predict(test_X)
y_pred

array([0, 0, 0, ..., 1, 1, 0])

In [64]:
clf.score(test_X, test_y)

0.8906936747563539